body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-card-container{
    background-color: #f1f1f1;
    /* background: linear-gradient(179deg,rgba(238, 141, 33, 1) 0%, rgba(242, 176, 99, 1) 49%, rgba(241, 241, 241, 1) 100%); */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.virtual-card img{
    width: 350px;
    transform: rotate(90deg);
}