body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-card-container{
    background-color: #f1f1f1;
    /* background: linear-gradient(179deg,rgba(238, 141, 33, 1) 0%, rgba(242, 176, 99, 1) 49%, rgba(241, 241, 241, 1) 100%); */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.virtual-card{
    position: relative;
}
.virtual-card input{
    position: absolute;
    top: 54%;
    left: 2%;
    transform: rotate(-4deg) rotateX(6deg);
    height: 32px;
    background-color: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(12px);
    outline: none;
    border-width: 0;
    width: 80%;
    border-radius: 4px;
    font-size: 16px;
    transition: outline 0.2s ease-in;
    padding-left: 4px;
    display: block;
}          
.virtual-card input:focus{
    outline: 1px solid rgba(255, 255, 255, 0.808);
}                
.virtual-card img{
    width: 350px;
    transform: rotate(90deg);
}