* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.thanku-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  /* background-color:#f5f5f5; */
  background-image: linear-gradient(to bottom, #fff, #fff, 80%, #ee8e216c);
}
.thanku-content {
  padding: 20px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.315);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.thanku-content h3 {
  font-size: 24px;
  color: #141111;
}
.thanku-content p {
  font-size: 16px;
  font-weight: 500;
  color: #3b3b3b;
}
.thanku-content > i {
  color: #ee8d21;
  border-radius: 50%;
  font-size: 80px;
}
.personal-detail {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.personal-detail button {
  position: relative;
  padding: 10px 12px;
  /* background-color: #ee8d21; */
  background-image: linear-gradient(to top, #f5f5f5, 2%, #ee8e21);
  font-size: 16px;
  font-weight: 500;
  outline: none;
  color: white;
  border-width: 0;
  border-radius: 6px;
  box-shadow: inset 0 2px 2px #fda035, inset 0 2px 2px #fff,
    inset 0 -2px 2px #fda035, inset 0 -2px 2px #fff,
    0 1px 4px 0 rgba(0, 0, 0, 0.308);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.404);
  cursor: pointer;
  background-size: 100% 200%;
  background-position: 0% 0%;
  transition: background-position 0.3s ease;
}
.personal-detail button:hover {
  background-position: 0% 100%;
}
