/*---------------------------------------------------- 
landing section start 
------------------------------------------------------*/


.virtual-container{
  padding: 3rem 0 2rem 0;
  /* background-color: rgba(238, 141, 33, 0.1); */
  background: linear-gradient(56deg,#ffffff 0%, #ee8e21e6 100%, #eddd53 100%);
}

.virtual-grid-two-part{
  display: flex;
  width: 100%;
  padding: 0 2rem 0 4rem;
  justify-content: space-between;
  
}

.virtual-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  /* background-color: aqua; */
  width: 65%;
}
.virtual-image{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  height: 460px;
}
.virtual-image img{
  /* float: right; */
  width: auto;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(90deg);
}
.virtual-content h1{
  font-family: var(--bachat-daddy-font);
  font-weight: 700;
  font-size: 3rem;
  /* line-height: 60px; */
  color: #141111;
  margin-top: -20px;
}
.virtual-content h1 span{
  color: var(--bachat-daddy-base);
}
.virtual-content p{
  font-size: 25px;
  font-weight: 700;
  /* line-height: 26px; */
  letter-spacing: 1.2px;
  color: #08080867;
}

.btn-to-connect button{
  border: none;
  border-radius: 4px;
  color: #fff !important;
  background-color: #1f1a1a !important;
  padding: 10px 25px 10px;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  transition: all 0.3s linear;
  z-index: 1;
}

.btn-to-connect button:hover{
  color: #fff;
  background-color: #0f0c0c !important;    
}




/*---------------------------------------------------- 
landing section end 
------------------------------------------------------*/
