/*---------------------------------------------------- 
landing section start 
------------------------------------------------------*/
.virtual-grid-two-part{
  display: flex;
  width: 100%;
  padding: 3rem 4rem 0 4rem;
  justify-content: center ;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.virtual-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* background-color: aqua; */
  width: 65%;
}
.virtual-content span{
  background-color: #ee8e21d3;
  padding: 1px;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 #ee8d21a1;
}
.virtual-image{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  height: 460px;
  position: relative;
  z-index: 2;
}
.virtual-image::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 67%;
    background-color: #f7b451;
    z-index: -1;
    filter: blur(50px);
    top: 11%;
    transform: rotate(-77deg);
    left: 32%;
}
.virtual-image::before{
  content: "Hii! Welcome to Bachatdaddy";
  position: absolute;
  width: 30%;
  height: 20%;
  z-index: 1;
  box-shadow: 0px 0px 2px 0px rgb(255, 255, 255);
  background-color: #ffffff27;
  left: 5%;
  top: 20%;
  border-radius: 10px;
  color: #292929;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.virtual-image img{
  /* float: right; */
  width: auto;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotateX(29deg) rotateY(0deg) rotate(59deg);
}
.virtual-content h1{
  font-family: var(--bachat-daddy-font);
  font-weight: 500;
  font-size: 70px;
  line-height: 70px;
  color: #141111;
  letter-spacing: -1px;
}

.btn-to-connect button{
  border: none;
  border-radius: 4px;
  color: #fff !important;
  background-color: #1f1a1a !important;
  padding: 10px 25px 10px;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  transition: all 0.3s linear;
  z-index: 1;
}

.btn-to-connect button:hover{
  color: #fff;
  background-color: #0f0c0c !important;    
}




/*---------------------------------------------------- 
landing section end 
------------------------------------------------------*/

.feature-card{
  width: 100%;
  min-height: 100vh;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 50px 50px;
  margin-top: 50px;
}


.feature-card .feature1{
  width: 40%;
  height: 100vh;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
 }

 .feature1 h1{
  color: black;
  font-size: 35px;
  font-weight: bolder;
  line-height: 40px;

 }

 .feature1 h4{
  color: #00000098;
  font-size: 16px;
  padding: 20px 0px;
  line-height: 22px;

 }

 .feature1 button{
  outline: none;
  border: none;
  padding: 15px 25px;
  font-size: 14px;
  background-color: #00800075;
  border-radius: 30px;
  width: fit-content ;
 }

.feature-card .feature2{
  width: 50%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
  /* background-color: red; */
}


.feature2 .card-detail1{
  background-color: pink;
  width: 280px;
  height: 150px;
  border-radius: 10px;
 }

 .feature2 .card-detail1 .icon{
  display: flex;
  padding: 20px 20px;
  justify-content: start;
  align-items: center;
 }

 .feature2 .card-detail1 .icon h2{
  font-size: 16px;
  margin-left: 15px;
 }


 .feature2 .card-detail1 .desc{
  padding: 0px 20px;
  display: flex;
  align-items: center;
 }
.feature2 .card-detail1 .desc h4{
  font-size: 14px;
  font-weight: 400;
}

/*---------------------------------------------------- 
feature card section end 
------------------------------------------------------*/