/*---------------------------------------------------- 
landing section start 
------------------------------------------------------*/
.virtual-grid-two-part{
  display: flex;
  width: 100%;
  padding: 3rem 4rem 0 4rem;
  justify-content: center ;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.virtual-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* background-color: aqua; */
  width: 65%;
}
.cta button{
  border-width: 0;
  outline: none;
  width: 140px;
  height: 45px;
  background-color: #ee8d21;
  border-radius: 50px;
  color: #fff;
  text-shadow: 0px 0px 1px #fff;
  box-shadow: inset 0 1.5px 0px 1px #f7bf80;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
.cta button:hover{
  background-color: #f8931f;
}
.virtual-content span{
  background-color: #ee8e21d3;
  padding: 1px;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 #ee8d21a1;
}
.virtual-image{
  max-width: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  height: 460px;
  position: relative;
  z-index: 2;
}
.virtual-image::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 67%;
    background-color: #f7b451;
    z-index: -1;
    filter: blur(50px);
    top: 11%;
    transform: rotate(-77deg);
    left: 32%;
}
.virtual-image::before{
  content: "Hii! Welcome to Bachatdaddy";
  position: absolute;
  width: 30%;
  height: 20%;
  z-index: 1;
  box-shadow: 0px 0px 2px 0px rgb(255, 255, 255);
  background-color: #ffffff27;
  left: 16%;
  top: 20%;
  border-radius: 10px;
  color: #292929;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.virtual-image> img{
  /* float: right; */
  width: auto;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotateX(29deg) rotateY(0deg) rotate(59deg);
}
.client{
  background-color: #f1f1f1;
  box-shadow: 0 0 10px 0 #14111131;
  gap: 3px;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
}
.client.first{
  top: 10%;
  right: 3%;
}
.client.secound{
  top: 0%;
  left: 6%;
}
.client.third{
  top: 56%;
  right: 15%;
}
.client>img{
  width: 85px;
  height: 50px;
  object-fit: cover;
}
.virtual-content h1{
  font-family: var(--bachat-daddy-font);
  font-weight: 500;
  font-size: 70px;
  line-height: 70px;
  color: #141111;
  letter-spacing: -1px;
}

.btn-to-connect button{
  border: none;
  border-radius: 4px;
  color: #fff !important;
  background-color: #1f1a1a !important;
  padding: 10px 25px 10px;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  transition: all 0.3s linear;
  z-index: 1;
}

.btn-to-connect button:hover{
  color: #fff;
  background-color: #0f0c0c !important;    
}




/*---------------------------------------------------- 
landing section end 
------------------------------------------------------*/

.feature-card{
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 50px 50px;
  background-color: #f1f1f1;
}


.feature-card .feature1{
  width: 40%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
 }

 .feature1 h2{
  color: #000000;
  font-size: 35px;
  font-weight: bolder;
  line-height: 35px;
 }
.feature1 h2 span{
  background-image: linear-gradient(to right,#383838 , 10%,#ee8d21);
  color: transparent;
  background-clip: text;
}
 .feature1 p{
  color: #353535;
  font-size: 16px;
  line-height: 20px;
  margin-top: 25px;
 }

.feature-card .feature2{
  width: 50%;
  /* height: 60vh; */
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: start;
  /* background-color: red; */
}


.feature2 .card-detail1{
  background-color: #fff;
  width: 280px;
  /* height: 150px; */
  border-radius: 10px;
  transition: 0.4s all ease-in-out;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.feature2 .card-detail1:nth-child(1){
  box-shadow: 0 0 10px 2px #ee8d21b0;
  transform: scale(1.07);
}
.feature2 .card-detail1:hover{
  box-shadow: 0 0 10px 2px #ee8d21b0;
  transform: scale(1.07);
}

 .feature2 .card-detail1 .icon{
  display: flex;
  justify-content: start;
  align-items: center;
 }

 .feature2 .card-detail1 .icon h2{
  font-size: 16px;
  margin-left: 15px;
 }

 .feature2 .card-detail1 .desc{
  display: flex;
  align-items: center;
}
.feature2 .card-detail1 .desc h4{
  font-size: 14px;
  font-weight: 400;
}

/*---------------------------------------------------- 
feature card section end 
------------------------------------------------------*/